body{
    background-color: rgba(32, 120, 63, 0.877);
}
.container{
    width: 80%;
    height: 80%;
}
.container p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5% 20% 0 25%;
    font-size: 300%;
    color: rgb(2, 22, 15) ;
}
#inp{
    height: 250px;
    width: 75%;
    margin: 3% 15% 3% 25%;
    padding: 1%;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    resize: none;
    border-bottom: 5px rgb(18, 70, 45) solid;
    border-radius: 10px;
    box-shadow: rgb(38, 77, 65) 0px 20px 30px -10px;
}
.result{
    width: 25%;
    background-color: rgb(2, 28, 19);
    margin: 0 50%;
    border: 2px rgb(2, 34, 17) solid;
    border-radius: 5px;
    box-shadow: rgb(38, 77, 65) 0px 20px 30px -10px;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    text-align: center;
    color: rgba(245, 248, 246, 0.877);
}
#res{
    font-size: 150%;
}
#rst{
    padding: 1%;
    width: 55%;
    margin: 0 0 5% 0;
    color: rgb(1, 19, 13);
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
#rst:hover{
    background-color: rgb(230, 216, 216);
}